In [36]:
# import lib pandas 
import pandas as pd

# กำหนด path ของไพล์ pets.csv
PATH_PETS = "./pets.csv"

In [37]:
# load file pets.csv
pets = pd.read_csv(PATH_PETS)
pets

       name  age  weight species
0    fluffy    3      14     cat
1  vesuvius    6      23    fish
2       rex    5      34     dog

In [38]:
# เรียกดูข้อมูลใน column ของ age ทำได้ 2 แบบ
pets.age
pets["age"]

0    3
1    6
2    5
Name: age, dtype: int64

In [39]:
# ดูข้อมูล เริ่มจากแถวแรก, แสดงข้อมูล 2 แถว
pets.head(2)

       name  age  weight species
0    fluffy    3      14     cat
1  vesuvius    6      23    fish

In [40]:
# ดูข้อมูล เริ่มจากแถวสุดท้าย, แสดงข้อมูล 1 แถว
pets.tail(1)

  name  age  weight species
2  rex    5      34     dog

In [41]:
# ดูข้อมูล column ชื่อ name, index ที่ 1
pets.name[1]

'vesuvius'

In [42]:
# ดูข้อมูล column ชื่อ species, index ที่ 0
pets.species[0]

'cat'

In [43]:
# ดูข้อมูล collunm ชื่อ wegith, index ที่ 2
pets["weight"][2]

34

In [48]:
# ผลรวมของ age, แล้วคูณด้วย 2
sum(pets.age) * 2

28

In [49]:
# ค่ามากสุดของ weight ลบด้วย ค่าน้อยสุดของ weight
max(pets.weight) - min(pets.weight)

20